/*Designer*/
.author{
	display: block;
	position:absolute;
	top: 32px;
	left: 92px;
	margin: 0;
}

/*Applications*/
.application{
	display: block;
	position:absolute;
	top: 32px;
	left: 92px;
	margin: 0;
}


/*Layout*/
.type{
	display: block;
	position: absolute;
	top: 32px;
	left: 606px;
	margin: 0;
}
.technologies{
	display: block;
	position: absolute;
	top: 32px;
	left: 807px;
	margin: 0;
}
.team{
	display: block;
	position: absolute;
	top: 32px;
	left: 1011px;
	margin: 0;
}

.technologies_placeholder_class{
  display: block;
  position: absolute;
  top: 32px;
  left: 807px;
  margin: 0;
}

.sect1 {
	position:absolute;
	top:28px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect2 {
	position:absolute;
	top:144px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect3 {
	position:absolute;
	top:264px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect4 {
	position:absolute;
	top:384px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect5 {
	position:absolute;
	top:504px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect6 {
	position:absolute;
	top:624px;
	left:120px;
	height:78px;
	width:1200px;
}
.sect1_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.sect2_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.sect3_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.sect4_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.sect5_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.sect6_visible_part {
  position:absolute;
  top:16px;
  left:0px;
  height:44px;
  width:1200px;
  z-index:8;
  cursor:pointer;
}
.block1 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}
.block2 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}
.block3 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}
.block4 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}
.block5 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}
.block6 {
	position:absolute;
  top:4px;
	height:78px;
	width:1200px;
}

/*This is the bulletpoint line that is on the side of each sect*/
div hr:nth-child(1){
	display: block;
	position: absolute;	
	height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 0;
	width:28px;
	top:37px;
}
.longline{
	display: block;
	position: absolute;	
	height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 0;
	width:1110px;
	top:58px;
	left:90px;
}

/* Set the height only, for images in sect1, additionaly only in sect1 because that is the only "sect" div which will contain images, to 20px, the width will be figured out by the browser keeping the image's proportions. */
.sect1 img {
 height: 20px;
}


.table1{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
.table2{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
.table3{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
.table4{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
.table5{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
.table6{
	position: absolute;
	top:16px;
	left:90px;
	height:40px;
	width:1110px;
}
table td:nth-child(1){
	border-top: 1px solid black;
	width:196px;
}
table td:nth-child(2){
	/*border-top: 1px solid blue;*/
	border:0;
	width:340px;
}
table td:nth-child(3){
	border-top: 1px solid black;
	width:184px;
	/*border-top:0;*/
}
table td:nth-child(4){
	border:0;
	width:22px;
}
table td:nth-child(5){
	border-top: 1px solid black;
	width:184px;
}
table td:nth-child(6){
	border:0;
	width:22px;
}
table td:nth-child(7){
	border-top: 1px solid black;
	width:196px;
}

a {
  text-decoration: none;
  color: black;
}

.action_note {
  font-size: 9px;
  color: green;
  position: absolute;
  top: -18px;
  left: 93px;
}
