
/*Designer*/
.author{
	display: block;
	position:absolute;
	top: 32px;
	left: 92px;
	margin: 0;
}

/*Works*/
.application{
	display: block;
	position:absolute;
	top: 32px;
	left: 92px;
	margin: 0;
}


/*Layout*/
.type{
	display: block;
	position: absolute;
	top: 32px;
	left: 606px;
	margin: 0;
}
.technologies{
	display: block;
	position: absolute;
	top: 32px;
	left: 807px;
	margin: 0;
}
.team{
	display: block;
	position: absolute;
	top: 32px;
	left: 1011px;
	margin: 0;
}

.sect1 {
	position:absolute;
	top:28px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.sect2 {
	position:absolute;
	top:144px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.sect3 {
	position:absolute;
	top:264px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.sect4 {
	position:absolute;
	top:384px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.sect5 {
	position:absolute;
	top:504px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.sect6 {
	position:absolute;
	top:624px;
	left:120px;
	height:78px;
	width:1200px;
	cursor: pointer;
}
.block1 {
	position:absolute;
	height:78px;
	width:1200px;
}
.block2 {
	position:absolute;
	height:78px;
	width:1200px;
}
.block3 {
	position:absolute;
	height:78px;
	width:1200px;
}
.block4 {
	position:absolute;
	height:78px;
	width:1200px;
}
.block5 {
	position:absolute;
	height:78px;
	width:1200px;
}
.block6 {
	position:absolute;
	height:78px;
	width:1200px;
}

/*This is the bulletpoint line that is on the side of each sect*/
div hr:nth-child(1){
	display: block;
	position: absolute;	
	height: 1px;
    border: 0; 
    border-top: 1px solid black;
    margin: 0;
	width:28px;
	top:41px;
}
.longline{
	display: block;
	position: absolute;	
	height: 1px;
    border: 0; 
    border-top: 1px solid black;
    margin: 0;
	width:1110px;
	top:58px;
	left:90px;
}
.table1{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
.table2{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
.table3{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
.table4{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
.table5{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
.table6{
	position: absolute;
	top:20px;
	left:90px;
	height:40px;
	width:1110px;
}
table td:nth-child(1){
	border-top: 1px solid black;
	width:196px;
}
table td:nth-child(2){
	/*border-top: 1px solid blue;*/
	border:0;
	width:340px;
}
table td:nth-child(3){
	border-top: 1px solid black;
	width:184px;
	/*border-top:0;*/
}
table td:nth-child(4){
	border:0;
	width:22px;
}
table td:nth-child(5){
	border-top: 1px solid black;
	width:184px;
}
table td:nth-child(6){
	border:0;
	width:22px;
}
table td:nth-child(7){
	border-top: 1px solid black;
	width:196px;
}

